body {
  background-color: black;
}

.Platform {
  position: absolute;
  left: 25%;
  top: 25%;
  background-color: green;
}

.SnakeBody {
  position: absolute;
  background-color: yellow;
}

.SnakeHead {
  position: absolute;
  background-color: #0b9ef3;
}

.Food {
  position: absolute;
}
