body {
  background-color: black;
}

.Platform {
  position: absolute;
  left: 25%;
  top: 25%;
  background-color: green;
}

.SnakeBody {
  position: absolute;
  border: black solid 1px;
  background-color: yellow;
}

.SnakeHead {
  position: absolute;
  border: black solid 1px;
  background-color: #0b9ef3;
}

.Food {
  position: absolute;
  border: black solid 1px;
  background-color: red;
  border-radius: 3px;
}
